.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 100px;
  position: absolute;
  left: 400px;
  top: 100px;
} */

.App-pic {
  height: 100px;
  position: absolute;
  left: 400px;
  top: 20px;
}

.list {
  position: absolute;
  left: -15px;
  top: 50px;
  bottom: 20px;
  overflow: scroll;
}

.cocktail {
  font-size: 10pt;
  text-align: center;
  border-style: solid;
}

.selected-cocktail {
  font-size: 12pt;
  text-align: left;
  position: absolute;
  left: 350px;
  right: 550px;
  top: 150px;
}

.filter {
  position: absolute;
  top: 30px;
  font-size: 12pt;
  left: 25px;
}

.form {
  position: absolute;
  top: 35px;
  font-size: 10pt;
  position: absolute;
  left: 750px;
  right: 15px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #3DAEE9;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* body {
   background-image: url('./cocktails.png');
 } */
