.App {
  text-align: center;
}

.App-logo1 {
  animation: App-logo1-spin infinite 7s linear;
  height: 70px;
  position: absolute;
  left: 500px;
  top: 35px;
}

.App-logo2 {
  animation: App-logo2-spin infinite 7s linear;
  height: 70px;
  position: absolute;
  right: 500px;
  top: 35px;
}

.App-header {
  background-color: #F43C67;
  height: 50px;
  padding: 20px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30pt;
}

.App-pic {
  height: 150px;
}

.list {
  position: absolute;
  left: -15px;
  right: 950px;
  top: 110px;
  bottom: 15px;
  overflow: scroll;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.cocktail {
  font-size: 14pt;
  text-align: center;
  border-style: solid;
}

.selected-cocktail {
  font-size: 14pt;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: left;
  position: absolute;
  left: 380px;
  right: 380px;
  top: 320px;
  bottom: 15px;
  overflow: scroll;
  border-style: solid;
  padding: 20px;
}

.filter {
  position: absolute;
  top: 60px;
  font-size: 12pt;
  font-family: Brush Script MT, Brush Script Std, cursive;
  left: 25px;
  padding: 3px;
}

.form {
  position: absolute;
  top: 110px;
  font-size: 14pt;
  font-family: Brush Script MT, Brush Script Std, cursive;
  position: absolute;
  left: 950px;
  right: 25px;
  bottom: 15px;
  overflow: scroll;
}

.form-input {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=submit] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #3DAEE9;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 12pt;
}

button[type=button] {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 12pt;
}

@keyframes App-logo1-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes App-logo2-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* body {
   background-image: url('./cocktails.png');
 } */
